
body,div,dt,dd,dt,table,p,hr,span,input{ margin:0 auto;
 padding:0;}
a{ text-decoration:none;}
body{ color:#000000; font-family: "宋体"; font-size:12px; background-color:#FFFFFF;}



.denglu{ width:988px; height:586px; background:url(../images/denglukuang.png) no-repeat;}
.wenzi{ float:left; position:absolute; top:400px; left:160px; line-height:20px;}
.wenzi span{ margin-right:15px;}
.wenzi ul li{ list-style:none; float:left; margin-top:400px;}




.login{ width:500px; height:250px; margin-top:200px; float:right; margin-right:350px; display:block;
	background:url(../images/denglukuang.png) no-repeat;
}
.login span{font-weight:bold;line-height:25px; float:left;}
.jizhu input,.jizhu span{ float: left; line-height:13px; margin-right:5px;}
.yhm,.mima,.jizhu{ height:50px;margin-top: 100px;margin-left: 40px;}
.yewu{
	display:none;
}
.backjpg{
	width:1366px;
	height:650px;
	background: url(../images/wood_pattern.png);
}
.yhm input,.mima input,.yewu select{ border:1px solid #7f9db9; width:160px; height:25px; line-height:25px; padding-left:5px;}
.login_button{ text-align:center;margin-top:60px;margin-right:200px; image-rendering:url(../images/dl.png); }


